 /* Default light theme */
 body.light-mode {
     background-color: #f8f9fa;
     color: #212529;
 }

 /* Dark theme */
 body.dark-mode {
     background-color: #212529;
     color: #f8f9fa;
 }

/* Ensure modal-header and modal-footer are sticky to top/bottom */
.modal-header,
.modal-footer {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.modal-footer {
    bottom: 0;
    background-color: #fff;
    z-index: 1;
}



